<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Media Plugin demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="captureVideo()">Capture Video</ion-button>
  <ion-button (click)="playVideo()" *ngIf="videoStatus">play Video</ion-button>
  <ion-button (click)="captureAudio()">Capture Audio</ion-button>
  <ion-button (click)="playAudio()" *ngIf="audioStatus">play audio</ion-button>
  <ion-button (click)="captureImage()">Capture Image</ion-button>
  <ion-button (click)="playImage()" *ngIf="imageStatus">display img</ion-button>
  <ion-button (click)="playImagecopy()" *ngIf="imagecopyStatus">display copy img</ion-button>
  <ion-button (click)="getloc()">get location</ion-button>
</ion-content>
